<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <app-transaction-form />
    </div>
    <div class="col">
      <div class="card w-100 h-100">
        <div class="card-body">
          SpendingSummaryComponent
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card w-100 h-100">
        <div class="card-body">
          BalanceSummaryComponent
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body w-100">
          <app-spending-history filterOption= "App"></app-spending-history>
        </div>
      </div>
    </div>
  </div>
</div>
